table 
    if files.length>0 
        - const showFileActive = () => String(user._id)===String(files[0]._lord);
        thead
            tr
                th Name 
                th Downloads
                th Date updateFile
                th ShortLink
                if user && showFileActive()
                    th Action
        tbody
        tbody 
            each file in files
                tr 
                    td#name= file.original_name
                    td#count= file.download_count
                    td= `${new Date(file.createdAt).toUTCString()}`
                    - const fileShortLink = `/f/${file.short_name}`
                    td 
                        a(href=fileShortLink) See
                        button(link=fileShortLink onclick="saveOnBuffer(this)") Copy link
                    if user && showFileActive()
                        td#act  
                            a(href="/f/"+file.short_name+"/stats") Stats
                            - let updateFile = `/f/${file.short_name}/update`
                            a(href=updateFile) Update
                            if file.visible 
                                - let deactivateFile = `/f/${file.short_name}/update?activate=false`
                                a(href=deactivateFile) Deactivate
                            else if !file.visible 
                                - let activateFile = `/f/${file.short_name}/update?activate=true`
                                a(href=activateFile) Activate                            

    else 
        h1 No files