extends ../layout.pug 
block append head 
    title Dashboard
block content
    .content
        .group_content
            - let linkHeader = `${links.length > 0 ? (links.lenght === 1 ? "Link" : "Links")  : ""}`;
            h1= linkHeader
            each link in links
                div= link
            else 
                h3 no shortend links
        .group_content
            - let fileHeader = `${files.length > 0 ? (files.lenght === 1 ? "File" : "Files")  : ""}`; 
            h1= fileHeader
            each file in files
                div= file
            else 
                h3 no uploaded Files
