extends ../layout.pug 
block append head
    title= `@${visitUser.username}`

block content 
    .content
        -let imgSrc = `https://i.pravatar.cc/150?u=${visitUser._id}` ;
        img(src=imgSrc, alt="")
        h1= `@${visitUser.username}`

        div
            span= files.length+ " files upladed"

            span= links.length+ " links shortend"
            
        .group_wrap
            .group_content
                include ../includes/file-table
            .group_content
                include ../includes/link-table
