extends ../layout.pug 
block append head
    title Users

block content 
    .content
        .users_list
            each user in users
                - let userLink = `/@${user.username}`;
                - let imgSrc = `https://i.pravatar.cc/100?u=${user._id}` ;
                div
                    img(src=imgSrc, alt="")
                    a(href=userLink)= `@${user.username}`
            else
                div no users found